{% extends "index.html" %}

{% block topbar %}
<header class="border-b border-[hsl(var(--border))] bg-[hsl(var(--primary-background))] px-4 py-2">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2">
        <button class="p-2 rounded-md hover:bg-[hsl(var(--accent))]">
          <img src="static/menu.svg" alt="menu button" class="w-5 h-5">
        </button>
        <button class="p-2 rounded-md hover:bg-[hsl(var(--accent))]">
          <img src="static/bell.svg" alt="Notifications" class="w-5 h-5">
        </button>
      </div>

      <nav class="flex gap-2">
        <a href="#" class="text-sm font-medium hover:text-[hsl(var(--primary))] hover:bg-[hsl(var(--accent))] py-2 px-4 rounded-md">Browse Products</a>
        <a href="#" class="text-sm font-medium hover:text-[hsl(var(--primary))] hover:bg-[hsl(var(--accent))] py-2 px-4 rounded-md">Order View</a>
        <a href="#" class="text-sm font-medium hover:text-[hsl(var(--primary))] hover:bg-[hsl(var(--accent))] py-2 px-4 rounded-md">Analytics</a>
      </nav>
      <div class="flex items-center gap-4">
        <!-- user info -->
        <div class="flex items-center gap-3 px-2 rounded-md hover:bg-[hsl(var(--accent))] cursor-pointer">
          <div class="w-6 h-6 rounded-full bg-[hsl(var(--secondary))] flex items-center justify-center">
            <img src="static/person.svg" alt="User avatar" class="w-4 h-4">
          </div>
          <div>
            <span class="text-xs">{{user}}</span>
            <p class="text-xs text-[hsl(var(--muted-foreground))]">Admin</p>
          </div>
        </div>
        <!-- logout button -->
        <a href="/logout" class="p-2 rounded-md hover:bg-[hsl(var(--accent))]">
          <img src="static/logout.svg" alt="Logout" class="w-5 h-5 opacity-70 hover:opacity-100">
        </a>
      </div>
    </div>
  </header>
{% endblock %}