
{% extends "index.html" %}

{% block sidebar %}
<aside class="flex flex-col min-w-[240px] items-center border-r border-[hsl(var(--border))] bg-[hsl(var(--primary-background))]">
    <div class="p-4 flex items-center gap-4">
      <span class="text-xl font-semibold">WMGInvent</span>
      <img src="static/Box.svg" class="w-8 h-8">
    </div>
    <nav class="space-y-2 p-4 w-full">
      <a href="#" class="flex items-center gap-4 p-2 rounded-md bg-[hsl(var(--accent))]">
        <img src="static/tv.svg" class="w-5 h-5">
        <div>
          <p class="font-medium">Electronics</p>
          <p class="text-sm text-[hsl(var(--muted-foreground))]">All electronics</p>
        </div>
      </a>
      <a href="#" class="flex items-center gap-4 p-2 rounded-md hover:bg-[hsl(var(--accent))]">
        <img src="static/speaker.svg" class="w-5 h-5">
        <div>
          <p class="font-medium">Furniture</p>
          <p class="text-sm text-[hsl(var(--muted-foreground))]">All furniture</p>
        </div>
      </a>
      <a href="#" class="flex items-center gap-4 p-2 rounded-md hover:bg-[hsl(var(--accent))]">
        <img src="static/cog.svg" class="w-5 h-5">
        <div>
          <p class="font-medium">Auto parts</p>
          <p class="text-sm text-[hsl(var(--muted-foreground))]">All auto parts</p>
        </div>
      </a>
      <a href="#" class="flex items-center gap-4 p-2 rounded-md hover:bg-[hsl(var(--accent))]">
        <img src="static/person.svg" class="w-5 h-5">
        <div>
          <p class="font-medium">Fashion</p>
          <p class="text-sm text-[hsl(var(--muted-foreground))]">All fashion</p>
        </div>
      </a>
      <a href="#" class="flex items-center gap-4 p-2 rounded-md hover:bg-[hsl(var(--accent))]">
        <img src="static/cup.svg" class="w-5 h-5">
        <div>
          <p class="font-medium">Food</p>
          <p class="text-sm text-[hsl(var(--muted-foreground))]">All food</p>
        </div>
      </a>
    </nav>
  </aside>
{% endblock %}